<button class="add" type="button" (click)="createRow()">Add</button>

<form *ngIf="items.length > 0" #f=ngForm>
    <table>
        <thead>
            <th>#</th>
            <th>Name</th>
            <th>Age</th>
            <th>&nbsp;</th>
        </thead>
        <tbody>
            <tr *ngFor="let item of items">
                <td>{{item.id}}</td>
                <td><input id="name-{{item.id}}" type="text" value="{{item.name}}"/></td>
                <td><input id="age-{{item.id}}" type="number" value="{{item.age}}"/></td>
                <td>
                    <button type="button" (click)="updateRow(item.id)">U</button>
                    <button type="button" (click)="removeRow(item, $event)">X</button>
                </td>
            </tr>

        </tbody>
    </table>
</form>

<div *ngIf="items.length === 0" class="alert alert-warning">
    List is empty.
</div>
