<md-content class="md-padding" layout="row" layout-wrap layout-align="center start">

    <div layout="column" flex="50" flex-xs="100">
        <md-card>

            <md-toolbar-layout>
                <md-toolbar color="primary">
                    <i md-icon>face</i>&nbsp;
                    User #{{item.id}}
                </md-toolbar>
            </md-toolbar-layout>

            <md-card-content>
                <form [ngFormModel]="form" >

                    <md-checkbox [checked]="item.enabled" (change)="item.enabled = $event.checked">Enabled</md-checkbox>

                    <br/>
                    <br/>

                    <md-radio-group [(ngModel)]="item.gender">
                        <md-radio-button value="male">Male</md-radio-button>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <md-radio-button value="female">Female</md-radio-button>
                    </md-radio-group>

                    <br/>
                    <br/>

                    <md-input [(ngModel)]="item.firstName" placeholder="First Name" required="true"
                              maxLength="32"></md-input>

                    <br/>

                    <md-input [(ngModel)]="item.lastName" placeholder="Last Name" required="true"
                              maxLength="32"></md-input>

                    <br/>

                    <md-input [(ngModel)]="item.dateOfBirth" placeholder="Date Of Birth"
                              required="true" maxLength="10" minLength="10">
                    </md-input>

                    <br/>

                    <md-input [(ngModel)]="item.pesel" placeholder="PESEL"
                              maxLength="11" minLength="11" #pesel>
                        <md-hint align="end">{{pesel.characterCount}} / 11</md-hint>
                    </md-input>

                    <br/>

                    <md-input [(ngModel)]="item.email" placeholder="E-mail" type="email" required="true"></md-input>

                    <br/>

                    <md-input [(ngModel)]="item.info" placeholder="Info"
                              rows="5"
                              maxLength="255"></md-input>

                    <br/>

                    <button md-raised-button class="md-raised md-primary">Submit</button>
                </form>
            </md-card-content>
        </md-card>
    </div>

    <div layout="column" flex="50" flex-xs="100">

        <md-card>

            <md-toolbar-layout>
                <md-toolbar color="primary">
                    <i md-icon>grid_on</i>&nbsp;
                    Table
                </md-toolbar>
            </md-toolbar-layout>

            <md-data-table layout-fill>
                <thead>
                <tr>
                    <th class="md-text-cell">#</th>
                    <th class="md-text-cell">First Name</th>
                    <th class="md-text-cell">Last Name</th>
                    <th>Gender</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let i of items" (click)="item = i">
                    <td class="md-text-cell">{{ i.id }}</td>
                    <td class="md-text-cell">{{ i.firstName }}</td>
                    <td class="md-text-cell">{{ i.lastName }}</td>
                    <td>{{ i.gender }}</td>
                </tr>
                </tbody>
            </md-data-table>

        </md-card>

        <md-card>
            <md-toolbar-layout>
                <md-toolbar color="primary">
                    <i md-icon>code</i>&nbsp;
                    Selected
                </md-toolbar>
            </md-toolbar-layout>
            <md-card-content>
                <pre>{{ item | json }}</pre>
            </md-card-content>
        </md-card>

    </div>

</md-content>
